.contact{
  position: relative;
  text-align: center;
  background-color: rgb(50, 90, 50);
  color: white;
  padding: 2rem;
  cursor: pointer;
}

.contact:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-image: url('/images/map-taco-with-logo.jpg');
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: cover;
}

.contact__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2rem 0;
  gap: 2em;
}

.contact__sub-title{
  letter-spacing: 1px;
  font-family: Mexi;
  font-size: 2rem;
}

.contact__title{
  letter-spacing: 4px;
  font-family: Tacos;
  font-size: 2rem;
}

.contact__map{
  width: 100px;
}

.footer{
  padding: 1rem 2rem .5rem 2rem;
  color: rgb(50, 90, 50);
}

.credit a{
  text-decoration: none;
  color: inherit;
  font-family: Tacos;
  font-weight: 100;
}

.credit__name{
  font-size: 14px;
  letter-spacing: 1px;
}

.credit__name:hover{
  /* color: rgb(225, 80, 40); */
  color: rgb(225, 150, 40);

}


.footer__copyright{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footer__socials{
  display: flex;
  gap: 4px;
}

.footer__icons a{
  color: rgb(50, 90, 50);
}

.footer__icons a:hover{
  /* color: rgb(225, 80, 40); */
  color: rgb(225, 150, 40);

}



/* sm mobile */
/* @media (min-width: 325px) {} */

/* md mobile */
@media (min-width: 400px) {
  .contact__container{
  gap: 2em;
  padding: 2rem;

  }
}

/* lg mobile */
/* @media (min-width: 475px) {} */

/* sm Tablet */
@media (min-width: 640px) {
  .contact__container{
   flex-direction: row;
   gap: 6em;
   justify-content: center;
   padding: 2rem 4rem;
  }

  .footer__copyright{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

/* Tablet*/
/* @media (min-width: 768px) {} */

/* Laptop */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */


