ul li a{
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: #55765A;
  transition: color .4s ease-in-out;
  font-family: Tacos;
}

ul li a:hover{

color: rgb(254, 254, 254);
}

/* ul li a:active{
  opacity: .9;
} */

ul li a.active{
  color: white;
}

.header__menu{
  display: flex;
  right: 0;
  top: 0;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.header__menu-logo{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.header__logo{
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: Tacos;
  color: #55765A;
}

.header__mid-logo{
  width: 6rem;
  background-color: transparent;
}


#nav{
  display: flex;
  justify-content: space-between;
  position: fixed; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 10;
  padding: 1rem 2rem;
  background-color: #D6E5B3;
  transition: background-color .4s ease-in-out;
}

