ul li a{
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  letter-spacing: 3px;
  color: white;
  transition: color .1s ease-in-out;
  font-family: Tacos;
}

ul li{
  list-style: none;
}

ul li a:hover{
  /* color: #df3a0c9c; */
  color: rgb(225, 80, 40);
}

.header{
  position: relative;
}

#nav{
  display: flex;
  justify-content: center;
  height: 8rem;
  background-color: #55765A;
  background-color: rgb(50, 90, 50, .85);
  z-index: 10;
  top: 0;
  left: 0;
  padding-bottom: 2rem;
}

.header__menu{
  display: flex;
  gap: 1rem;
}

.header__menu-logo{
  /* display: flex; */
  /* flex-direction: column; */
  /* list-style: none;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center; */
}

.header__logo{
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 4px;
  font-family: Tacos;
  color: white;
  transition: .2s;
  cursor:default  ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo:hover{
  color: white;
}

.header__mid-logo{
  width: 7rem;
  background-color: transparent;
  transition: .2s;
  position: absolute;
  left: .25rem;
  top: .25rem;
}


.header__menu-right{
  display: none;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: normal;
  gap: 4rem;
  z-index: 100;
  position: absolute;
  bottom: 0rem;
  list-style: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.socials li{
  list-style: none;
}

.socials li a{
  font-size: 1rem;
}

.socials{
  position: absolute;
  display: flex;
  gap: .5em;
  top: 1.25rem;
  right: 1rem;
}


