.menu{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 4em;
} 
.menu2{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 4em;
}
.menu3{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}
.menu4{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}
.menu5{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}

.menu__upper-title{
  font-style: normal;
  font: inherit;
  font-family: Tacos;
  color: rgb(50, 90, 50);
  font-size: 2rem;
  padding: 3rem;
  text-align: center;
}

.menu__line{
  font-family: Fiesta;
  color: rgb(50, 90, 50);
  text-align: center;
  font-size: 3rem;
}

.menu__title{
  font-style: normal;
  font: inherit;
  font-family: Mexi;
  color: rgb(167, 63, 29);
  font-size: 2rem;
  padding-bottom: 6px;
  /* text-align: center; */
}

.menu__items{
  font-weight: 900;
  letter-spacing: -.5px;
}

.money{
  color: rgba(240, 70, 9, 0.849);
}

.menu__container{
  margin-bottom: 2rem;

}

.para{
  width: 260px;
}

.lechu{
  width: 380px;
}

.burrito{
  margin-top: 2rem;
}

.taco{
  text-align: center;
}

.sizes{
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.drinks{
  display: flex;
  justify-content: center;
  gap: 3em;
}

.menu__container,
.menu__container2,
.menu__container3,
.menu__container4,
.menu__container5,
.menu__container6,
.menu__container7,
.menu__container8,
.menu__container9,
.menu__container10{
  margin: 0 auto;
}

.menu,
.menu2,
.menu3,
.menu4,
.menu5{
  flex-direction: column;
}


/* sm mobile */
/* @media (min-width: 325px) {} */

/* md mobile */
/* @media (min-width: 400px) {} */

/* lg mobile */
/* @media (min-width: 475px) {} */

/* sm Tablet */
/* @media (min-width: 640px) {} */

/* Tablet*/
@media (min-width: 768px) {
  .menu,
.menu2,
.menu3,
.menu4,
.menu5{
  flex-direction: row;
}

.menu{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1em;
} 
.menu2{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.menu3{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}
.menu4{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}
.menu5{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 6em;
}


}

/* Laptop */
@media (min-width: 1024px) {
  .menu{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 4em;
  } 
  .menu2{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 4em;
  }
  .menu3{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 4em;
  }
  .menu4{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 4em;
  }
  .menu5{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 4em;
  }
  
}

/* xL */
@media (min-width: 1288px) {
  .menu,
  .menu2,
  .menu3,
  .menu4,
  .menu5{
    padding: 2rem 10rem;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */
