.menu{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.menu__title{
  font-style: normal;
  font: inherit;
  font-family: Mexi;
  color: rgb(167, 63, 29);
  font-size: 2rem;
  padding-bottom: 6px;
  text-align: center;
}

.menu__items{
  font-weight: 900;
  letter-spacing: -.5px;
}

.money{
  color: rgba(240, 70, 9, 0.849);
}

.menu__container{
  margin-bottom: 2rem;

}

.burrito{
  margin-top: 2rem;
}